body{
  background-color:#808080;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.footer{
  position:absolute;
  bottom:10px;left:25%;
}

.wipAlert{
  width:fit-content;
  margin:auto;
  border:solid #ff0000 5px;
  background-color: #ff0000;
  color:#ffffff;
}
.wipAlert p{
  width:fit-content;
  margin:auto;
}
.wipAlert span{
  font-size: xx-large;
}

.linkTree{
  outline:solid blue 2px;
  width:400px;
  display:flex;
  flex-wrap: wrap;
}
.treeItem{
  background-color:#c0c0c0;
  margin:10px;
  border:solid #404040 6px;
  border-radius: 5%;
}
.treeItem p{
  color:#000000;
  text-align: center;
  margin:4px;
}
.treeItem img{
  height:96px;
  width:96px;
}
.treeItem a{
  text-decoration: none;
}