body{
  background-color:#808080;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.footer{
  margin:auto;
  padding:5px;
  width:fit-content;
  position:relative;
  bottom:-625px;
}
.footer p{
  margin:0;
}

.wipAlert{
  width:fit-content;
  margin:auto;
  border:solid #ff0000 5px;
  background-color: #ff0000;
  color:#ffffff;
}
.wipAlert p{
  width:fit-content;
  margin:auto;
}
.wipAlert span{
  font-size: xx-large;
}